:root {
  --accent-color: #2e2f42;
  --logo-color: #4d5ae5;
  --main-portfolio-color: #f4f4fd;
  --main-portfolio-background-color: #f4f4fd;
  --customers-icon-color: #8e8f99;
  --transition-dur-and-func: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/**
  |============================
  | Base styles
  |============================
*/
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

.link {
  color: inherit;
  text-decoration: none;
}

a {
  text-decoration: none;
}
.container {
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
.work {
  padding-top: 0;
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  text-align: center;
}
.header-logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-logo-link {
  justify-content: space-between;
}
.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}
.header-logo-studio {
  color: var(--accent-color);
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 769px) {
  .header-link {
    display: none;
  }
  .contact-link {
    display: none;
  }
  .header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo-link {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
  }
  .mobile-menu-open-icon {
    display: flex;
    align-items: center;
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .header-nav-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    display: flex;
    align-items: center;
    transition: var(--transition-dur-and-func);
  }

  .header-nav-list:not(:last-child) {
    margin-right: 40px;
  }

  .header-link {
    position: relative;
    padding: 24px 0;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link-underline {
    color: var(--logo-color);
    position: relative;
  }
  .header-link-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover,
  .header-link:focus {
    color: #404bbf;
  }

  .header-contact {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    align-items: center;
  }

  .contact-link {
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
}

@media (min-width: 1158px) {
  .header-contact {
    display: flex;
    align-items: center;
  }
}

/**
  |============================
  | Menu container
  |============================
*/

.menu-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 999;

  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-top: 80px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mobile-menu {
  margin-bottom: auto;
  list-style: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #404bbf;
}
.mobile-menu .link {
  display: block;
  padding: 10px;
  text-decoration: none;
}
.mobile-socials {
  display: flex;
  justify-content: flex-start;
  gap: 56px;
}

.mobile-social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.mobile-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--logo-color);
  border-radius: 50%;
  color: var(--main-portfolio-background-color);
  transition: var(--transition-dur-and-func);
}
.mobile-social-link:hover,
.mobile-social-link:focus {
  background-color: #31d0aa;
}

.mobile-contacts {
  margin-bottom: 48px;
}
.mobile-contacts-tel {
  display: flex;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  margin-bottom: 40px;
}
.mobile-contacts-mailto {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 48px;
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  background-color: var(--accent-color);
  max-width: 1440px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-name@2x-mobile.jpg);
  }
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  margin: auto;
  margin-bottom: 48px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--logo-color);
  margin: auto;
  display: block;
  height: 56px;
  min-width: 169px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: var(--transition-dur-and-func);
}

.hero-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-name-tablet.jpg);
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-name@2x-tablet.jpg);
  }
}

@media (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-name-desktop.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-name@2x-desktop.jpg);
  }
}
/**
  |============================
  | Benefits styles
  |============================
*/
@media (max-width: 1158px) {
  .benefist-icon {
    display: none;
  }
  .benefist-list {
    display: block;
  }
  .benefist {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-align: center;
  }
  .benefist-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 72px;
  }
}

@media (min-width: 768px) {
  .benefist-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
}
@media (min-width: 1158px) {
  .benefist {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefist-icon {
    display: flex;
    background: var(--main-portfolio-background-color);
    height: 112px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .benefist-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .benefist-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefist-item {
    font-weight: 400;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | Function styles
  |============================
*/
@media (max-width: 1158px) {
  .function-item {
    display: none;
  }
  .function-list {
    display: none;
  }
}

@media (min-width: 1158px) {
  .function {
    padding-top: 0;
  }
  .function-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
    margin-bottom: 72px;
  }
  .function-list {
    display: flex;
  }

  .function-list-item:not(:last-child) {
    margin-right: 24px;
  }
}

/**
  |============================
  | Team styles
  |============================
*/
@media screen and (max-width: 768px) {
}
.team {
  background-color: var(--main-portfolio-background-color);
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-list {
  text-align: center;
  padding: 32px 0;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
  margin-bottom: 72px;
}

.team-item {
  display: block;
  margin: auto;
}

.team-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 8px;
}
.team-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
  margin: 0;
  margin-bottom: 8px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--logo-color);
  border-radius: 50%;
  color: var(--main-portfolio-background-color);
  transition: var(--transition-dur-and-func);
}
.socials-icon {
  fill: currentColor;
}
.socials-link:hover,
.socials-link:focus {
  background: #404bbf;
}

@media screen and (min-width: 1158px) {
  .team-flex {
    display: flex;
  }
  .team-item:not(:last-child) {
    margin-right: 24px;
  }
}

/**
  |============================
  | Customers
  |============================
*/

.customers-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--accent-color);
  margin-bottom: 72px;
  line-height: 1.1;
}
.customers-item {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.customers-list {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--customers-icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-svg {
  fill: currentColor;
}
.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  background: var(--accent-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-gap {
  margin-right: 120px;
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-portfolio-color);
}
.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  display: inline-block;
  margin-bottom: 16px;
}

.footer-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-portfolio-color);
  width: 264px;
}
.footer-social {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--logo-color);
  border-radius: 50%;
  color: var(--main-portfolio-background-color);
  transition: var(--transition-dur-and-func);
}

.style-svg {
  fill: #f4f4fd;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  margin-left: 80px;
}

.footer-subscribe-item {
  display: flex;
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  position: relative;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--accent-color);
}

.footer-subscribe-input::placeholder {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  caret-color: #ffffff;
}

.footer-subscribe-input:not(:placeholder-shown) {
  color: #ffffff;
}

.footer-btn {
  display: flex;
  letter-spacing: 0.04em;
  background-color: var(--logo-color);
  height: 40px;
  min-width: 165px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: var(--transition-dur-and-func);
  padding: 8px 24px;
  border-radius: 4px;
  margin-left: 24px;
}
.footer-btn:hover,
.footer-btn:focus {
  background: #404bbf;
}
.footer-btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
.footer-svg {
  fill: currentColor;
  margin-left: 16px;
}

/**
  |============================
  | Navigation
  |============================
*/

.section-title {
  padding: 96px 0 120px;
}
.nav-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  gap: 24px;
  margin-bottom: 72px;
}

.nav-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-btn {
  background-color: var(--main-portfolio-background-color);
  height: 48px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-btn-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
}

.nav-btn:hover,
.nav-btn:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background: #404bbf;
}

/**
  |============================
  | Services
  |============================
*/
.services {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.services-list {
  column-gap: 24px;
  width: calc((100% - 48px) / 3);
  display: block;
}
.services-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 8px;
}

.services-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

.services-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.services-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.services-link:hover,
.services-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-portfolio-background-color);
  padding: 40px 32px;
  background-color: var(--logo-color);
  letter-spacing: 0.02em;
}
.services-link:hover .overlay,
.services-link:focus .overlay {
  transform: translate(0, 0);
}
/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
/**
  |============================
  | Modal-form
  |============================
*/
.modal-name {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--logo-color);
}
.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  font-weight: 400;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-textarea {
  margin-bottom: 16px;
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-wrapper {
  display: flex;
  position: relative;
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--logo-color);
}
.modal-for-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-for-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-for-comment:focus {
  outline: none;
  border-color: var(--logo-color);
}
.modal-form-check-deck {
  display: flex;
  font-size: 12px;
  align-items: center;
  margin-bottom: 24px;
}
.modal-form-check-deck::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}
.modal-form-check:checked + .modal-form-check-deck::before {
  background-color: var(--logo-color);
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-submit {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--logo-color);
  margin: auto;
  display: block;
  height: 56px;
  min-width: 169px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: var(--transition-dur-and-func);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background: #404bbf;
}
.modal-link {
  text-decoration: underline;
  color: var(--logo-color);
}
